{{!main menu partial - used in index.hbs. post.hbs and page.hbs}}
{{!mobile menu button}}
<div class="artee-mobile-menu show-for-small">
	<a href="#"><i class="fa fa-bars"></i></a>
</div>
{{!menu items}}
<ul class="artee-menu">
	{{!mobile close button (do not delete)}}
	<li class="artee-mobile-close-btn show-for-small text-right">
		<a href="#"><i class="fa fa-times"></i></a>
	</li>
	{{!menu items (you can add and delete from here)}}
	<li>
		<a href="{{@blog.url}}" class="active">Blog</a>
	</li>
	<li>
		<a href="/about">About</a>
	</li>
	<li>
		<a href="/contact">Contact</a>
	</li>
	<li>
		<a href="/error-404">Error 404</a>
	</li>
</ul>