{{! index post grid sorting 
if you are editing sort-groups remember to place chosen tag name to data-option="" param}}
{{! mobile activator}}
<div class="artee-mobile-sort">
    <i class="fa fa-filter"> <span>FILTERS</span></i>
</div>
{{!filter}}
<div class="artee-index-sort"> 
    <ul class="artee-sort-groups-options no-bullet">
        <li><a href="#" class="active" data-option="">All</a></li>
        <li><a href="#" data-option="people">People</a></li>
        <li><a href="#" data-option="animals">Animals</a></li>
        <li><a href="#" data-option="eyes">Eyes</a></li>
        <li><a href="#" data-option="other">Other</a></li>
    </ul>
    <ul class="artee-sort-options no-bullet">
        <li><a href="#" class="active" data-option=""><i class="fa fa-sort"></i></a></li>
        <li><a href="#" data-option="title-asc"><i class="fa fa-sort-alpha-asc"></i></a></li>
        <li><a href="#" data-option="title-desc"><i class="fa fa-sort-alpha-desc"></i></a></li>
    </ul>
</div>